<ion-view title="Abrir Aula" id="page4">
  <ion-content padding="true" class="has-header">
    <div ng-click="escanear()" style="position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);" class="button button-outline icon-right button-assertive">
      Escanear codigo QR
      <img src="./img/qr-code-icon.svg">
    </div>
    {{datos.slaonseleccionado}}
  </ion-content>
</ion-view>
