<ion-view title="Inicio" id="page1">
    <ion-content padding="true" class="has-header">
    <div class="item item-image contenedorlogo">
        <img id="logo" src="./img/logo.png">
    </div>
    <div id="separador">
        {{resultado}}
    </div>
        
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label" >Correo:</span>
            <input type="email" placeholder="email@example.com" ng-model="datos.correo">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label" >Contraseña:</span>
            <input type="password" placeholder="*******" ng-model="datos.password">
        </label>
    </div>   
        <footer class="btn-inicio-sesion">
            <button class="button button-assertive button-block" style="font-size: 150%"
            ng-click="iniciarSesion()">
            Iniciar Sesion!
        </button> 
        </footer>
           
    </ion-content>
</ion-view>