<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item4" ui-sref="menu.inicio()" menu-close="">Iniciar Sesion</ion-item>
        <ion-item id="menu-list-item1" ui-sref="menu.reservar()" menu-close="">Reservar</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.misReservas()" menu-close="">Mis Reservas</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.abrirAula()" menu-close="">Abrir Aula</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>