<ion-view title="Mis Reservas" id="page3">
  <ion-content padding="true" class="has-header">
    <div ng-repeat="reserva in reservas" class="card" on-long-press="reservas.$remove(reserva)">
      <h3 style="margin: 10px;">Curso: {{reserva.curso}}</h3>
      <div class="item item-divider" style="overflow: auto ">       
        <h2 class="subdued">Fecha: {{reserva.fecha}}</h2>
        <h2 class="subdued">Hora: {{reserva.hora}}</h2>
      </div>
      <div class="row">
      <a class="item item-icon-left" ng-if="reserva.equipos.aire">
      	<i class="icon ion-ios-snowy"></i>
      	Aire
      </a>
      <a class="item item-icon-left" ng-if="reserva.equipos.proyector">
      	<i class="icon ion-easel"></i>
      	Proyector
      </a>
      <a class="item item-icon-left" ng-if="reserva.equipos.pc">
      	<i class="icon ion-android-desktop"></i>
      	PC
      </a>	
      </div>
      
    </div>
  </ion-content>
</ion-view>
