<ion-view title="Nueva Reserva" id="nuevareserva">
  <ion-content padding="true" class="has-header">
    <div>
      <h1 style="text-align: center; height: 5rem; margin-top: 2rem;">{{miCurso}}</h1>
    </div>
    <label class="item item-input item-select">
      <div class="input-label">
        Fecha:
      </div>
      <button class="button button-large button-clear button-dark" ng-click="selectFecha()">
        {{fecha}}
      </button>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Hora:
      </div>
      <button class="button button-large button-clear button-dark" ng-click="selectHora()">
        {{hora}}
      </button>
    </label>
    <ul class="list" style="margin-top: 1rem;">
      <li class="item item-toggle">
        Aire Acondicionado
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="equipos.aire">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Proyector
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="equipos.proyector">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-toggle">
        Computador
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="equipos.pc">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
    <div class="bar bar-footer" style="margin-bottom: 2rem;">
      <button class="button button-full button-assertive" style="height: 3rem;" ng-click="guardarReserva()">Reservar</button>

    </div>
    <div class="row responsive-sm">
      
    
    <div style="margin-top: 2rem;" class="col button button-outline button-assertive" 
    ng-if="reservaGuardada">
      Reserva hecha exitosamente!
    </div>
    </div>
    <!--<ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>
    <input type="datetime-local" name="asdf">
    <button ng-click="hola()">Hola</button>-->
  </ion-content>
</ion-view>
