<ion-view cache-view="false" title="Reservar" id="page2">
    <ion-content padding="true" class="has-header">
        <div ng-repeat="curso in cursos" class="card" ng-click="hacerReserva('{{curso.nombre}}')">
            <h3 style="margin: 10px;">Curso: {{curso.nombre}}</h3>
            <div class="item item-divider" style="overflow: auto ">
                Horario: {{curso.horario}}
                <br>
                <a class="subdued">Alumnos: {{curso.alumnos}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>