.item-image{
    border: 0px;
}

.contenedorlogo{
    margin-top: 1rem;
}

#logo{
    width: 200px;
}

#separador{
    height: 150px;
}

.btn-inicio-sesion{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem;
}